<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width,initial-scale=1'>
<title>UWaterloo Courses</title>
<meta name='author' content='rileythomp'>
<link rel='shortcut icon' href='favicon.ico' type='image/vnd.microsoft.icon'>
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Poppins|Rubik|Lato|Raleway' type='text/css'>
<link rel='stylesheet' href='//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css'>
<link rel='stylesheet/less' type='text/css' href='styles.less' />
<script src='../js/less.min.js' ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>