@import 'nord.less';

body {
    font-family: Segoe UI, Poppins;
    background-color: #000000;
    color: @nord6;
    user-select: none;

    input, select, option{
        display: block;
        margin: 0.5em auto;
        padding: 0.5em;
        width: 15em;
        box-sizing: border-box;
    }

    main {
        padding: 0 1em;
    }

    #page-title {
        text-align: center;
    }

    #subject-name {
        text-align: center;
        margin-bottom: 0
    }

    #range-span {
        display: block;
        text-align: center;
        input {
            display: inline;
            width: 7em;
        }
    }

    #error-msg {
        text-align: center;
    }

    .course-block {
        border: 2px solid #C60078;
        margin: 2em auto;
        padding: 0.75em 1.5em;
        width: 50%;

        a {
            color: inherit;
            text-decoration: none;
        }

        .course-description, .course-units, .course-crosslists, .course-notes {
            display: none;
        }

        .remove-course, .expand-course {
            float: right;
            margin-right: 1em;
            cursor: pointer;
        }

        .course-code {
            cursor: pointer;
            font-weight: bold;
            font-size: 1.25em;
        }

        p {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    footer {
        a {
            position: fixed;
            bottom: 0.5em;
            right: 1em;
            color: inherit;
            font-size: 2.5em;
        }
    }
}